/.gradle
/metadata.json
/.rvmrc
build
pkg/
Session.vim
spec/fixtures
.*.sw[a-z]
*.un~
log/
.project
.blimpy.d
.vagrant
pkg/*
tmp/*
README.pdf
/test_reports
.rvmrc
.ruby-*
*.sw*
spec/fixtures
Gemfile.lock
.vagrant*
.bundle
.kateproject*

